<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Email</title>
</head>

<body>

    <h3>{{clinicName}} COVID Declaration Form</h3>

    <p>Dear {{clientName}}</p>

    <p>In anticipation of your upcoming appointment with us at {{clinicName}}, we would request to you complete the online COVID questionnaire below. </p>

    <p>The safety of our employees and clients remain {{clinicName}}’s overriding priority during these unique times. We hope that this simple screening questionnaire reduces the potential risk of spreading COVID in our clinic.</p>

    <p>Click <a href="http://www.cleanforms/screening/{{screeningId}}"> HERE </a> to complete your questionnaire.</p>

    <p>This information will be stored confidentially.</p>

    <p>If you are unable to complete this form online, please contact our reception on {{clinicPhone}} and we will make arrangements happily.</p>

    <p>We look forward to your upcoming, safe appointment.</p>

    <p>Regards</p>

    <p>The team at {{clinicName}}</p>
    <br>
    <p>{{clinicPhone}}</p>
</body>

</html>